$color-primery: #FF7B47;
$color-primery-add: #0D5C63;

$color-background-main: #FAFAFA;
$color-background-add: #F3F3F3;
$color-background-light: #Ffff;
$color-background-dark: #17213C;
$color-background-input: #F9F9F9;

$color-text-main: #737373;
$color-text-headers: #252B42;
$color-text-light: #ffff;

$content-width: 1080px;
$tablet-big-width: 992px;
$tablet-small-width: 768px;
$mobile-big-width: 479px;
$mobile-small-width: 320px;



